/*
 * The Simple
 */

/** Template Style **/
body { margin: 0 auto 30px auto; width: 780px; font-family: Tahoma, 'Microsoft Yahei', sans-serif; font-size: 16px; color: #454545; }

h1, h2 { font-weight: 500; }
h1 { margin: 0 0 13px 0; font-size: 1.7em; }
h2 { margin: 15px 0 13px 0; font-size: 1.4em; }
h3 { margin: 15px 0 13px 0; font-size: 1.2em; }
strong { font-weight: 500; }
p, ul, ol { margin: 10px 0 10px 0; }

a { text-decoration: none; color: #0088cc; }

pre { padding: 5px; font-family: Consolas, 'Microsoft Yahei', monospace; }
code { font-family: Consolas, 'Microsoft Yahei', monospace; }

#header { padding: 8px 10px 10px 10px; color: #454545; }

#content { padding: 10px 15px 10px 15px;  border-radius: 0 0 3px 3px; border-bottom: 2px solid #e2e2e9; box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15); }

#footer { padding: 10px; font-size: 0.8em; }

/** Post Page **/

#title { margin-bottom: 0; }
#title a { color: #454545; }
#title a:hover { color: #0088cc; }

#date { margin-bottom: 16px; color: #b2b2b2; }

/** Home Page **/

#list { padding-left: 15px; list-style: none; }
#list span { font-size: 0.8em; color: #b2b2b2; }

