<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style/simple.css"/>
  <link rel="stylesheet" href="/assets/style/xcode.css"/>
  <script src="/assets/script/highlight.pack.js"></script>
</head>
<body>

  <div id="header">
  <a href="/">主页君●ω● </a>
  </div>
  {{ content }}
  
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1693508" async=""></script>
<!-- UY END -->

  <div id="footer">
    <p>&copy; 2012 <a href="/about/">{{ site.title }}</a><br/>{{ site.copyright }}</p>
  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
