<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style/simple.css"/>
  <link rel="stylesheet" href="/assets/style/xcode.css"/>
  <script src="/assets/script/highlight.pack.js"></script>
</head>
<body>

  <div id="header">
  <a href="/">主页君●ω● </a>
  </div>
  {{ content }}
  
<!-- UY BEGIN -->
<div id="denglu_frame"></div>
<script id='denglu_login_js' type='text/javascript' charset='utf-8'></script>
<script type='text/javascript' charset='utf-8'>
  (function() {
		var _dl_time = new Date().getTime();
		var _dl_login = document.getElementById('denglu_login_js');
		_dl_login.id = _dl_login.id + '_' + _dl_time;
		_dl_login.src = 'http://open.denglu.cc/connect/logincode?appid=71330denwtPJJWHuRUm7v0zCptk7c3&v=1.0.2&widget=2&styletype=2&size=438_106&asyn=true&time=' + _dl_time;
	})();
</script>
<!-- UY END -->

  <div id="footer">
    <p>&copy; 2012 <a href="/about/">{{ site.title }}</a><br/>{{ site.copyright }}</p>
  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
