<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style/simple.css"/>
  <link rel="stylesheet" href="/assets/style/xcode.css"/>
  <script src="/assets/script/highlight.pack.js"></script>

 
  
</head>
<body>

  <div id="header">
  <a href="/">主页君●ω● </a>
  </div>
  {{ content }}
  
<!-- UY BEGIN -->
<div id="denglu_frame"></div>
<script type='text/javascript' charset='utf-8' src='http://open.denglu.cc/connect/commentcode?appid=71330denwtPJJWHuRUm7v0zCptk7c3&postid=<?php the_ID();?>&title=<?php the_title();?>'></script>
<!-- UY END -->

  <div id="footer">
    <p>&copy; 2012 <a href="/about/">{{ site.title }}</a><br/>{{ site.copyright }}</p>
  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
