<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style/simple.css"/>
  <link rel="stylesheet" href="/assets/style/xcode.css"/>
  <script src="/assets/script/highlight.pack.js"></script>
</head>
<body>
  <div id="sidebar">
   <img src="/img/original_8xvD_67930000db92125f.jpg"><br />
  </div> 
  {{ content }}

  <div id="clock">
<embed src="swf/clock.swf"
width="400" height="250" wmode="transparent"></embed>
  </div>
  
 <div id="footer">
    <p>&copy; 2012 <a href="/about/">{{ site.title }}</a><br/>{{ site.copyright }}</p>
  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
